{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block content %}

    <h3>{{ product.nom }}</h3><hr>
    Description : <br>
        {{ product.description }}<br><br>
    Prix : {{ product.prix }} €<br>
    {% if product.stock > 0 %}
        Stock : {{ product.stock }}
    {% else %}
        <p>Il n'a plus de ce produit en stock</p>
    {% endif %}
    <br>
    {{ form_start(form) }}
        {{ form_widget(form.nombre) }}
        {{ form_widget(form.submit) }}
    {{ form_end(form) }}
    {# <a class="btn btn-info">Acheter</a> #}

{% endblock %}
