{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}
    {{ form_start(formContact) }}
    <h2>Contact</h2>
    Objet : {{ form_widget(formContact.objet) }}
    {{ form_widget(formContact.submitMail) }}<br>
    <div class="mail">
        Mail : <br>{{ form_widget(formContact.mail) }}
        {{ form_end(formContact) }}
    </div>
    <hr>
    <h2>CGU</h2>
    Date d'entrée en vigueur : 21/07/2023<br><br>
    Bienvenue sur notre site d'e-commerce de meubles ! Avant de procéder à tout achat, veuillez lire attentivement les présentes Conditions Générales d'Utilisation (ci-après dénommées "CGU"). En utilisant ce site, vous acceptez pleinement et sans réserve ces CGU qui régissent votre accès et votre utilisation de notre plateforme en ligne. Si vous n'acceptez pas ces CGU, veuillez ne pas continuer à utiliser ce site.<br><br>
    Acceptation des CGU<br>
    En utilisant ce site, vous reconnaissez avoir lu, compris et accepté les présentes CGU dans leur intégralité. Vous vous engagez à respecter toutes les dispositions énoncées ici. Les CGU peuvent être mises à jour de temps à autre, et votre utilisation continue du site après une telle mise à jour constituera votre acceptation des nouvelles CGU.<br><br>
    Utilisation du site<br>
    (a) Vous devez être majeur(e) pour effectuer des achats sur notre site. Si vous êtes mineur(e), vous devez obtenir l'autorisation d'un parent ou tuteur avant de faire des achats.<br><br>
    (b) Vous êtes responsable de maintenir la confidentialité de vos informations d'identification de compte et de toute activité effectuée sous votre compte.<br><br>
    Produits et Commandes<br>
    (a) Nous nous efforçons de présenter nos produits aussi clairement et fidèlement que possible, mais les images et descriptions peuvent varier légèrement du produit réel.<br><br>
    Paiement et Sécurité<br>
    (a) Nous ne serons pas tenus responsables des pertes ou dommages résultant d'une transaction de paiement non autorisée ou frauduleuse.<br><br>
    Merci d'avoir pris le temps de lire nos Conditions Générales d'Utilisation. Si vous avez des questions ou des préoccupations, n'hésitez pas à nous contacter. Bon shopping !
    <hr>
    <h2>Mention légale</h2>
    Identification du site :<br>
    AIRNEIS<br>
    http://127.0.0.1:8000/<br><br>
    Développeurs de la publication :<br>
    BERTREUX Stanislas<br><br>
    Collecte de données personnelles :<br>
    Les données collécter par ce site internet reste sur ce site et ne sont jamais utilisé autre part.<br><br>
    Liens externes :<br>
    Notre site peut contenir des liens vers des sites externes. Nous déclinons toute responsabilité quant au contenu ou aux pratiques de confidentialité de ces sites tiers.<br><br>
    Ces mentions légales constituent l'intégralité des informations relatives à notre site. Si vous avez des questions ou des préoccupations concernant ces mentions légales, veuillez nous contacter à l'adresse e-mail indiquée ci-dessus.<br><br>
    Dernière mise à jour des mentions légales : 21/07/2023

{% endblock %}
