{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block content %}
    <h1>Mes commandes</h1>
    <hr>
    {% set dateCommmande = null %}
    {% if commandes|length > 0 %}
        {% for commande in commandes %}
            {% if dateCommmande != commande.ajouters[0].date|date('Y')  %}
                {% set dateCommmande = commande.ajouters[0].date|date('Y') %}
                <h3>{{ commande.ajouters[0].date|date('Y') }}</h3>
                <hr>
            {% endif %}
            <a class="noLinkOrder" href="{{ path('see_order_livraison', {id: commande.id}) }}">
                Commande du {{ commande.ajouters[0].date|date('Y-m-d') }}<br>
                {% set productTot = 0 %}
                {% set prix = 0 %}
                {% for product in commande.ajouters %}
                    {% set productTot = productTot + product.qte %}
                    {% set prix = prix + product.produit.prix * product.qte %}
                {% endfor %}
                Statut de la commande : {{ commande.statut }}<br>
                Couts total : {{ prix }} €<br>
                Produits totaux : {{ productTot }}
            </a>
            <hr>
        {% endfor %}
    {% else %}
        Vous n'avez pas de commande
    {% endif %}

{% endblock %}
