{% extends 'base.html.twig' %}

{% block title %}Livraison{% endblock %}

{% block content %}
    <hr>
    Commande du {{ commande.ajouters[0].date|date('Y-m-d') }}<br>
    {% set productTot = 0 %}
    {% set prix = 0 %}
    {% for product in commande.ajouters %}
        {% set productTot = productTot + product.qte %}
        {% set prix = prix + product.produit.prix * product.qte %}
    {% endfor %}
    Couts total : {{ prix }}<br>
    Produits totaux : {{ productTot }} €<br>
    Statut de la commande : {{ commande.statut }}
    <hr>
    <div class="col-lg-5 offset-lg-1 pt-1">
        <h2 class="pb-2 pt-md-2 my-4 mt-lg-5">Récapitulatif de votre commande<br><span
                    class="fs-base fw-normal text-muted">({{ commande.produits|length }}  produits)</span></h2>
        {% set total = null %}
        {% for produit in commande.produits %}
            <div class="d-sm-flex align-items-center border-top py-4">
                <a class="d-inline-block flex-shrink-0 bg-secondary rounded-1 p-sm-2 p-xl-3 mb-2 mb-sm-0" href="">
                    <img src="{{ asset(produit.images[0].url) }}" width="80" height="80" alt="{{ produit.nom }}"></a>
                <div class="w-100 pt-1 ps-sm-4">
                    <div class="d-block">
                        <div class="me-3" style="position: relative; top: 15px;">
                            <h3 class="h5 mb-2"><a href="{{ path('shop_index', {id: produit.id}) }}">{{ produit.nom }}</a></h3>
                            <p>{{ produit.description }}</p>
                        </div>
                        <div>
                            {% for ajout in commande.ajouters %}
                                {% if ajout.produit.id == produit.id %}
                                    <p class="mb-2">Quantité : {{ ajout.qte }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if commande.statut == "En cour" %}
        <br><br><a class="btn btn-info" href="{{ path('change_status_livraison', {id: commande.id}) }}">Valider la livraison</a>
    {% endif %}
{% endblock %}