{% extends 'base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block body %}
    <h1>Image index</h1>
    <input type="hidden" id="NomObjet" value="Image">
    <input type="hidden" id="Url" value="{{ path('app_fetch_tableau') }}">
    <table class="table sortable" id="MyTable">
        <thead>
            <tr>
                <td class="no-sort colloneTable"><input id="checkboxAll" type="checkbox" onchange="selectAll(this)"></td>
                <th>Id</th>
                <th>Url</th>
                <td class="no-sort imageCollumn">Image</td>
                <th class="no-sort">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td><input type="checkbox" onchange="selectOne()"></td>
                <td>{{ image.id }}</td>
                <td>{{ image.url }}</td>
                <td><img class="imageIndex" src="{{ asset( image.url ) }}"></td>
                <td>
                    <a href="{{ path('app_image_show', {'id': image.id}) }}">show</a>
                    <a href="{{ path('app_image_edit', {'id': image.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_image_new') }}">Créer un nouveau</a>
    <a href="{{ path('homepage') }}">Retour menu</a>
    <button id="btn-delete-row" style="display: none" onclick="deleteRows()" class="btn btn-danger">Supprimer</button>
{% endblock %}
